/***************************************************************************
*    \author Richard O'Brien s0460356
*    \date   2013/11/8 - modified 2013/11/20
*    \brief  This document styles the multiplication table in snazzy colors
*            and makes the numbers look centered. 
*            It's inentionally ironic bronyism.
***************************************************************************/

/* body ruleset */
body {
    /*background image properties*/
    background: url("../images/rainbowDash.png") no-repeat fixed left top;
    background-size: cover;
    height: 768px;
    width: 1024px;
}

/* div (tile) rulesets */
div.blue					/* default color */
{
background-color:#aaf;
}
div.white					/* clicked color (blank)*/
{
background-color:#fff;
} 

div.red						/* clicked color (bomb)*/
{
background-color:#f44;
} 

div.green						/* clicked color (number)*/
{
background-color:#4f4;
} 

/* div (tile) ruleset */
div {
    font-family:"Comic Sans MS";
    font-size:large;
    font-weight: 900;
}

#container {
    height: 768px;
    width: 1024px;
}

div div {
    display: inline-block;
    padding: 5px; 
    border: 3px outset purple;
    text-align: center;
    line-height: 30px;
    width: 30px
}
/* timer box ruleset */
#timerbox {
	border: 3px outset purple;
	text-align: center;
	line-height: 30px;
    width: 80px
}
